<i class="init-controller" ng-init="activate()"></i>

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-6">
                <h1>SHOPPING CART</h1>
            </div>
            <div class="hidden-xs col-sm-5 col-md-4 col-lg-3 pull-right btn-custom" ng-show="cart.getCountItems()">
                <a class="btn btn-md btn-block btn-primary pull-right"
                   href="/checkout">
                    Proceed to Checkout
                    <span class="seporator"></span>
                    <i class="arrow-right"></i>

                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <!-- we do *not* have items in cart -->
    <div class="bg-block" ng-hide="cart.getCountItems()">
        <h4 class="text-center">No items are currently in your cart.</h4>
        <p class="text-center btn-custom">
            <a class="btn btn-md btn-primary"
               href="/">
                Continue Shopping
                <span class="seporator"></span>
                <i class="arrow-right"></i>
            </a>
        </p>
    </div>

    <!-- we have items in cart -->
    <div ng-show="cart.getCountItems()">
        <!-- xs action -->
        <div class="visible-xs m-b btn-custom">
            <a class="btn btn-md btn-block btn-primary"
               href="/checkout">
                Proceed to Checkout
                <span class="seporator"></span>
                <i class="arrow-right"></i>
            </a>
        </div>

        <!-- product row -->
        <div class="cart-table">
            <div class="row">
                <div class="col-xs-6 col-sm-2"> </div>
                <div class="col-xs-6 col-sm-10">
                    <div class="row hidden-xs">
                        <!-- info -->
                        <div class="col-sm-5 text-left">Product Name</div>
                        <div class="col-sm-2 text-center">Unit Price</div>
                        <div class="col-sm-2 text-center">Quantity</div>
                        <div class="col-sm-2 text-center">Subtotal</div>
                        <div class="col-sm-1 text-center"> </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="item in cart.getItems()">

                <div class="row">
                    <!-- image -->
                    <div class="col-xs-6 col-sm-2">
                        <a class="cart-item__img"
                           href="{{productService.getUrl(item.pid)}}">
                            <img class="img-responsive"
                                 ng-src="{{ item.product.image.thumb }}"
                                 err-src="placeholder.png"
                                 alt="{{item.product.name}}" />
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-10">
                        <div class="row">
                            <!-- info -->
                            <div class="col-sm-5">
                                <h4>
                                    <a href="{{productService.getUrl(item.pid)}}">{{item.product.name}}</a>
                                </h4>

                                <ul class="list-unstyled">
                                    <li ng-repeat="option in item.product.options">
                                        {{option.label}}:
                                    <span ng-switch="option.type">
                                        <span ng-switch-when="date">{{option.value | date}}</span>
                                        <span ng-switch-default>{{getOptionLabel(option)}}</span>
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <!-- Unit Price -->
                            <div class="col-sm-2 cart-item__product-subtotal">
                                <span class="visible-xs">Price:</span>
                                <span>{{item.product.price | number: 2 | currency}}</span>
                            </div>
                            <!-- qty -->
                            <div class="col-sm-2 cart-item__product-qty">
                                <div class="form-group">
                                    <label class="visible-xs">Quantity:</label>
                                    <select class="form-control"
                                            ng-show="item.qty < 10"
                                            ng-model="item.qty"
                                            ng-change="update(item.idx, item.qty)"
                                            ng-options="option.value as option.label for option in qtyOptions">
                                    </select>

                                    <div class="input-group"
                                         ng-show="item.qty >= 10">
                                        <input type="number"
                                               class="form-control"
                                               ng-init="item.qty_large = item.qty"
                                               ng-model="item.qty_large"/>
                                        <button class="btn btn-block btn-default m-t-40"
                                                ng-click="item.qty = item.qty_large; update(item.idx, item.qty)">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- price desktop -->
                            <div class="col-sm-2 cart-item__product-subtotal">
                                <span class="visible-xs">Subtotal:</span>
                                <span ng-class="{'strikethrough' : item.product.salePrice}">
                                {{item.product.price * item.qty | currency}}
                            </span>
                            <span>
                                {{item.product.salePrice * item.qty | currency}}
                            </span>
                            </div>

                            <!-- sm/md/lg product removal -->
                            <div class="col-sm-1 cart-item__product-remove">
                                <a class="btn btn-block btn-link" title="Remove item"
                                   ng-click="remove(item.idx)">
                                    <span class="trash-o hidden-xs">
                                        <i class="fa fa-trash-o"></i>
                                    </span>

                                    <i class="fa fa-close visible-xs"></i>
                                    <span class="cart-item__product-remove-text visible-xs">remove</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cart-item__divider"></div>
            </div>
        </div>


        <!-- footer -->
        <div class="row">
            <div class="col-sm-10 col-sm-push-2 col-md-8 col-md-push-4 col-lg-6 col-lg-push-6">
                <div class="cart-footer">
                    <div class="row cart-footer__items">
                        <div class="col-xs-6">Items in Cart:</div>
                        <div class="col-xs-6">
                            <span class="pull-right">{{cart.getTotalQuantity()}}</span>
                        </div>
                    </div>

                    <div class="row m-b cart-footer__subtotal">
                        <div class="col-xs-6">Subtotal:</div>
                        <div class="col-xs-6 text-right" ng-class="{'strikethrough' : cart.hasSalePricesInItems()}">{{cart.getSubtotal() | currency}}</div>
                        <div class="col-xs-6 text-right" ng-show="cart.hasSalePricesInItems()">{{cart.getSalePriceSubtotal() | currency}}</div>
                    </div>

                    <!-- actions -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <a class="btn btn-md btn-default btn-block"
                               href="/">
                                Continue Shopping
                                <span class="seporator"></span>
                                <i class="arrow-right"></i>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <a class="btn btn-md btn-block btn-primary"
                               href="/checkout">
                                Proceed to Checkout
                                <span class="seporator"></span>
                                <i class="arrow-right"></i>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

