<div class="navbar navbar-default navbar-fixed-top"
    role="navigation"
    bs-navbar>

    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 hidden-xs hidden-sm">
                    <ot-cms-block name="header-promo-block"></ot-cms-block>
                </div>
                <div class="col-sm-7 visible-sm">
                    <ot-cms-block name="header-promo-block-mobile"></ot-cms-block>
                </div>
                <div class="col-sm-5 col-md-5">
                    <ul class="nav navbar-nav navbar-util hidden-xs">
                        <li class="social-link">
                            <a target="_blank" href="http://www.facebook.com/ferastyle"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="social-link">
                            <a target="_blank" href="https://www.instagram.com/ferastyle"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="social-link">
                            <a target="_blank" href="https://www.pinterest.com/ferastyle"><i class="fa fa-pinterest"></i></a>
                        </li>

                        <li uib-dropdown="" class="dropdown">
                            <a uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                Help <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href>CALL: 800 828 FERA</a></li>
                                <li><a title="EMAIL" href="mailto:info@ferastyle.com" target="_blank">EMAIL: info@ferastyle.com</a></li>
                                <li><a title="RETURNS" href="/returns">RETURNS</a></li>
                                <li><a title="SIZE CHART" href="/size-chart">SIZE CHART</a></li>
                                <li><a title="SHIPPING" href="/shipping">SHIPPING</a></li>
                            </ul>
                        </li>
                        <li ng-if="!visitorProps.isLoggedIn"
                            data-match-route="^/login">
                            <a class="nav-login" href="/login">Login / Register</a>
                        </li>
                        <li ng-if="visitorProps.isLoggedIn"
                            data-match-route="^/account">
                            <a class="nav-login" href="/account">Account
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 visible-xs text-center">
                    <ot-cms-block name="header-promo-block-mobile"></ot-cms-block>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-toggle"
                ng-click="mobileNav.isOpen = !mobileNav.isOpen">
                <i class="fa fa-fw fa-bars"></i>
            </a>
            <a href="/cart"
                class="navbar-toggle">
                <i class="fa fa-fw fa-shopping-cart"></i>
            </a>
            <a class="navbar-brand"
                href="/">
                <img alt="Ferastyle"
                    src="/images/logo.png">
                <span class="sr-only">Ferastyle</span>
            </a>
        </div>
        <div class="navbar-collapse collapse"
            ng-class="{in: mobileNav.isOpen}">

            <!-- Utility Navigation -->
            <ul class="nav navbar-nav navbar-util">
                <li class="search-field">
                    <input ng-click="searchProducts(searchText)" type="image" src="/images/icon-search.png" alt="Go" id="go">
                    <input type="text" ng-model="searchText" ng-enter="searchProducts(searchText)" class="form-control search_box" placeholder="Search" value="">
                </li>
                <li class="hidden-xs" data-match-route="^/cart">
                    <a href="/cart" class="shopping-cart">
                        <i class="fa fa-shopping-cart"></i>
                        Cart ({{getItemsInCart()}})
                    </a>
                </li>
            </ul>

            <!-- Main Navigation -->
            <ot-cms-block name="main-menu"></ot-cms-block>
            <ul class="nav navbar-nav navbar-main">
                <!-- Additional mobile menu items, since the util nav is hidden -->
                <li class="visible-xs"
                    ng-show="!visitorProps.isLoggedIn">
                    <a href="/login">Login</a>
                </li>

                <li class="visible-xs"
                    ng-show="visitorProps.isLoggedIn">
                    <a href="/account">My Account</a>
                </li>
            </ul>

        </div>
    </div>
</div>


