/**
 * PDP
 */

/**
 * columns
 */
.pdp {
    .pdp-img-container {
        display: block;
        &:focus {
            outline: 0;
        }
        .active-img {
            max-width: 95% !important;
            display: inline-block;
            border: 9px solid #fff;
            @include box-shadow(0px 0px 6px 0px rgba(0, 0, 0, 0.15));
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            position: relative;
            @media (max-width: $screen-xs-max) {
                max-width: 100% !important;
            }
            img {
                width: 100%;
                border: none;
            }
            .sale-image {
                top: -13px;
                right: -14px;
            }
        }
        ul {
            list-style-type: none;
            padding: 0;
            li {
                margin-bottom: 10px;
            }
        }
        img {
            border: 1px solid #dddddd;
            &:hover {
                cursor: pointer;
                opacity: .8;
            }
        }
        .bg-block {
            border: none;
            width: 95%;
            padding: 20px 35px;
            @media (max-width: $screen-xs-max) {
                width: 100%;
                padding: 20px 35px;
            }
        }
        .img-small {
            width: 30%;
            display: inline-block;
            margin-top: 10px;

            img {
                width: 100%;
                &:hover {
                    border-color: $red-dark;
                }
            }
        }
        .slick-slide {
            margin: 0 10px;
        }
        .slick-list {
            margin: 0 -10px;
        }
    }

    .page-header {
        border: none;
        margin: 0;
        padding-bottom: 1px;
        @media (max-width: $screen-xs-max) {
            margin-top: 10px;
        }
        h1 {
            margin: 0;
            font-size: $font-size-h2;
            letter-spacing: -1px;
        }
        & + .form-group {
            clear: left;
        }
    }

    .pdp-qty {
        .form-control {
            width: 60px;
        }
    }

    .pdp-price {
        color: $red-dark;
        font-size: 38px;
        line-height: 48px;
    }

    .pdp-related-list {
        margin-bottom: 63px;
        h3 {
            font-size: 20px;
            border-bottom: 1px solid grey;
            margin: 30px 0 44px;
            padding-bottom: 30px;
        }
        img {
            border: 1px solid #dddddd;
        }
        h5 {
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            display: block;
            color: #090808;
            margin: 11px 0 0px;
            font-family: $font-family-sans-serif;
        }
        span {
            color: $red-dark;
            line-height: 18px;
            font-size: 16px;

        }
        @media (max-width: 360px) {
            .row > div {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        .product-box {
            padding-top: 10px;
        }
        .slick-next {
            right: -12px;
            @media (max-width: $screen-xs-max) {
                right: 10px;
            }
        }
        .slick-prev {
            left: -9px;
            @media (max-width: $screen-xs-max) {
                left: 10px;
            }
        }
    }
    img:hover {
        cursor: pointer;
        opacity: .8;
    }

    /**
     * Forms
     */

    @media (min-width: $screen-sm-min) {

        .pdp-radio-group .radio {
            margin-right: 15px;
        }
    }
    hr {
        margin: 5px 0;
    }
    .std {
        line-height: 24px;
    }
    .btn-md.disabled.pull-right {
        margin-top: 7px;
        font-family: AvenirNextLTPro-Bold;
        font-size: $font-size-middle;
        padding: 8px 16px;
    }

}

.pdp-tabs {
    margin: 20px 0 10px;
}

.reviews-ratings {
    .first-review-message {
        margin: 30px 0;
    }
    .review-block {
        margin-bottom: 20px;
    }
    .unregistered-message,
    .review-by {
        font-weight: bold;
    }
    .ratings {
        margin: 10px 0;
    }
    .rating-box,
    .rating {
        height: 10px;
        background-image: url(../images/rating.png);
        background-repeat: repeat-x;
    }
    .rating-box {
        float: left;
        width: 55px;
        margin: 0;
        background-position: 0 0;
        font-size: 0;
        line-height: 0;
        text-indent: -999em;
        overflow: hidden;
    }
    .rating {
        background-position: 0 100%;
    }
    table {
        margin: 0 0 15px;
        border-collapse: separate;
        border-top: 6px solid #575757;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
        width: 100%;
        border-spacing: 0;

        thead, tfoot {
            background: #fafafa;
        }
        thead th {
            -webkit-box-shadow: inset 0px -4px 6px -4px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: inset 0px -4px 6px -4px rgba(0, 0, 0, 0.15);
            box-shadow: inset 0px -4px 6px -4px rgba(0, 0, 0, 0.15);
        }
        th {
            padding: 12px 0;
            text-align: center;
            font-weight: 300;
            white-space: nowrap;
        }
        th, td, td a {
            color: rgba(0,0,0,0.67);
        }
        tr:last-child td {
            border-bottom: none;
        }
        td {
            padding: 12px;
            text-align: center;
            border: 1px solid #e9e9e9;
            border-top: none;
            border-left: none;
        }
        input[type="radio"] {
            display: inline;
            outline: none;
        }
    }
    @media (max-width: 480px) {
        table {
            th, td {
                display: table-cell;
            }
            th span {
                display: block;
            }
        }
    }
    .add-review {
        h2 {
            margin-top: 0;
        }
        label {
            font-weight: normal;
        }
        .btn-lg {
            padding: 10px 20px;
        }
        .input-box {
            margin-bottom: 10px;
        }
        input[type="text"], textarea {
            width: 254px;
            padding: 4px;
            border: 1px solid #e0e0e0;
            height: 34px;
            -webkit-box-shadow: inset 0px 0px 5px 0px #eaeaea;
            -moz-box-shadow: inset 0px 0px 5px 0px #eaeaea;
            box-shadow: inset 0px 0px 5px 0px #eaeaea;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
        }
        textarea {
            height: 10em;
        }
    }
}
