<div class="modal fade"
     id="quick-view"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button"
                    class="close"
                    data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <div class="modal-body">
                <div class="row">
                    <!-- image -->
                    <div class="col-sm-6">
                        <div class="thumbnail thumbnail-quick-view">
                            <img alt="{{popupProduct.name}}"
                                 ng-src="{{ popupProduct.image.medium }}"
                                 err-src="placeholder.png">
                            <span ng-show="popupProduct.sale_prices || popupProduct.strikethrough_price" class="sale-image"></span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- form of quick shop -->
                        <form name="visitorForm"
                              novalidate>

                            <h3 class="text-left"><strong>{{popupProduct.name}}</strong></h3>

                            <p class="text-left price pull-left">
                                <span ng-if="!popupProduct.sale_prices" class="strikethrough"
                                      ng-show="popupProduct.strikethrough_price">
                                    {{popupProduct.strikethrough_price | currency}}
                                </span>
                                <span ng-class="{'strikethrough' : popupProduct.sale_prices}">{{popupProduct.price | currency}}</span>
                                <span ng-if="popupProduct.sale_prices">
                                    {{popupProduct.sale_prices[0].amount | currency}}
                                </span>
                            </p>
                            <a class="btn btn-primary btn-md disabled pull-right"
                               ng-show="popupProduct.qty === 0">
                                Sold Out
                            </a>
                            <a class="btn btn-success btn-md disabled pull-right"
                               ng-show="popupProduct.qty > 0">
                                In Stock
                            </a>
                            <hr/>
                            <!-- description -->
                            <div ng-bind-html="popupProduct.description"
                                 class="std"></div>
                            <hr/>
                            <!-- Custom options -->
                            <ot-custom-options item="popupProduct"
                                               object="this"></ot-custom-options>
                            <div class="clearfix"></div>

                            <div class="">
                                <!-- error message -->
                                <ot-message-manager item="message"></ot-message-manager>
                            </div>

                        </form>
                        <!-- add to cart button -->
                        <button type="submit"
                                class="btn btn-primary btn-lg btn-add-to-cart"
                                ng-class="{disabled: isAddingToCart}"
                                ng-click="addToCart(popupProduct)">
                            <i class="fa fa-shopping-cart">
                            </i>
                            <span class="separator"></span>
                            Add to cart
                            <i class="fa fa-circle-o-notch fa-spin"
                               ng-show="isAddingToCart">
                            </i>
                        </button>
                        <!-- view details -->
                        <a id="details_pdp"
                           class="btn btn-default btn-lg"
                           ng-click="viewDetails(popupProduct)">
                            Details
                        </a>

                        <!-- social links desctop -->
                        <ot-social-links class="text-left"
                                         title="Share:"
                                         image="{{popupProduct.image.medium}}"
                                         text="{{popupProduct.name}}"
                                         url="{{::productService.getUrl(product._id)}}"
                                         googleplus
                                         twitter
                                         pinterest
                                         facebook>
                        </ot-social-links>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

