<div class="modal fade"
     id="quick-view"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button"
                    class="close"
                    data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <div class="modal-body">
                <div class="row">
                    <!-- image -->
                    <div class="col-sm-6">
                        <div class="thumbnail thumbnail-quick-view">
                            <img alt="{{popupProduct.name}}"
                                 ng-src="{{activeImg}}"
                                 err-src="placeholder.png">
                            <span ng-show="popupProduct.sale_prices || popupProduct.strikethrough_price" class="sale-image"></span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- form of quick shop -->
                        <form name="productOptionsForm"
                              novalidate>

                            <h3 class="text-left"><strong>{{popupProduct.name}}</strong></h3>

                            <p class="text-left price pull-left">
                                <span ng-if="!popupProduct.sale_prices" class="strikethrough"
                                      ng-show="popupProduct.strikethrough_price">
                                    {{popupProduct.strikethrough_price | currency}}
                                </span>
                                <span ng-class="{'strikethrough' : popupProduct.sale_prices}">{{popupProduct.price | currency}}</span>
                                <span ng-if="popupProduct.sale_prices">
                                    {{popupProduct.sale_prices[0].amount | currency}}
                                </span>
                            </p>

                            <a class="btn btn-primary btn-md disabled pull-right"
                               ng-show="!inStock">
                                Not In Stock
                            </a>
                            <a class="btn btn-success btn-md disabled pull-right"
                               ng-show="inStock">
                                In Stock
                            </a>
                            <hr/>
                            <!-- description -->
                            <div ng-bind-html="popupProduct.description"
                                 class="std"></div>
                            <hr/>
                            <!-- Custom options -->
                            <ot-custom-options item="popupProduct"
                                               object="this"></ot-custom-options>
                            <div class="clearfix"></div>

                            <div class="">
                                <!-- error message -->
                                <ot-message-manager item="message"></ot-message-manager>
                            </div>

                            <!-- Quantity -->
                            <div class="form-group pdp-qty">
                                <label for="qty"
                                       class="control-label">Quantity</label>
                                <input type="number"
                                       id="qty"
                                       class="form-control"
                                       placeholder="1"
                                       value="{{qty}}"
                                       ng-model="qty"
                                       ng-change="update(idx, qty)">
                            </div>
                            <hr/>
                            <br/>
                        </form>

                        <!-- add to cart button -->
                        <div class="form-group">
                            <a class="btn btn-primary btn-lg btn-add-to-cart"
                               ng-class="{disabled: isAddingToCart || !inStock}"
                               ng-click="addToCart(popupProduct)">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="separator"></span>
                                <span ng-if="inStock">Add to cart</span>
                                <span ng-if="!inStock">Not In Stock</span>
                                <i class="fa fa-circle-o-notch fa-spin"
                                   ng-show="isAddingToCart"></i>
                            </a>
                        </div>
                        <!-- view details -->
                        <a id="details_pdp"
                           class="btn btn-default btn-lg"
                           ng-click="viewDetails(popupProduct)">
                            Details
                        </a>
                        <!-- social links desctop -->
                        <ot-social-links class="text-left"
                                         title="Share:"
                                         image="{{popupProduct.image.medium}}"
                                         text="{{popupProduct.name}}"
                                         url="{{productService.getUrl(popupProduct._id)}}"
                                         googleplus
                                         twitter
                                         pinterest
                                         facebook>
                        </ot-social-links>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

