<div class="sidebar-offcanvas hidden-xs">

    <!-- categories block -->
    <div class="row" ng-show="categories.length">
        <div class="col-xs-12">
            <ul class="nav nav--categories filter-block">
                <li class="nav__header">FILTER BY</li>

                <li class="nav-divider" role="separator" >--</li>

                <li ng-repeat="item in categories">
                    <a href="{{item.url}}">
                        {{item.name}}
                    </a>

                    <ul class="nav"
                        ng-if="item.child.length">
                        <li ng-repeat="item in item.child">
                            <a href="{{item.url}}">
                                {{item.name}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


    <!-- layered filtering block -->
    <div class="row">
        <div class="col-xs-12">
            <div class="filter-block" ng-repeat="(filter, items) in layered"
                 ng-if="items.length">

                <ul class="nav nav--cat-layers">
                    <li class="nav__header">{{filterLabels[filter]}}</li>
                    <li class="nav-divider" role="separator">--</li>

                    <li ng-repeat="item in items" class="category-filter-swatch"
                        ng-if="layeredSwatches[filter] !== undefined"
                        ot-swatch="layeredSwatches[filter][item]"
                        ng-click="filterSwatchClick(filter, item)">
                    </li>
                    <li ng-repeat="item in items"
                        ng-if="layeredSwatches[filter] === undefined">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       ng-model="filters[filter][item]"> {{item}}
                            </label>
                        </div>
                    </li>
                        <!--<span ng-if="layeredSwatches[filter]"-->
                                   <!--ot-swatch="layeredSwatches[filter][item]" ng-click="filterSwatchClick(filter, item)">-->
                        <!--</span>-->
                        <!--<div class="checkbox" ng-if="!layeredSwatches[filter]">-->
                            <!--<label>-->
                                <!--<input type="checkbox"-->
                                       <!--ng-model="filters[filter][item]"> {{item}}-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>

    <ot-best-sellers></ot-best-sellers>

</div>

