$address-icons-color: #dcdcdc;

// Login screen
@media (min-width: $screen-sm-min) {
    .social-login .btn {
        margin-top: 22px;
        + .btn {
            margin-top: 37px;
        }
    }
    .social-reg {
        .btn {
            margin-top: 37px;
            + .btn {
                margin-top: 37px;
            }
        }
    }
}

.page-header {
    h1 {
        margin: 10px 0 ;
    }
}

.my-account {
    > .page-header h1 {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: -1px;
        font-family: AvenirNextLTPro-Bold;
    }

    .list-group {
        background: #fff;
        border: none;
        border-top: 6px solid $red-dark;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        @include box-shadow(0px 0px 6px 0px rgba(0, 0, 0, 0.10));
        .list-group-item {

            &.active {
                background-color: #fff;
                color: #000;
                font-size: 16px;
                padding: 20px 15px;
                text-transform: uppercase;
                font-family: AvenirNextLTPro-Bold;
                letter-spacing: 0.2px;
                border-color: #ddd;
                background-color: #f5f5f5;
            }
        }
    }
    .panel {
        border-top: 6px solid $red-dark;
        @include box-shadow(0px 0px 6px 0px rgba(0, 0, 0, 0.10));
    }
    .panel > .panel-body + .table {
        border-top: none;
    }
    strong, label, .modal-header h4 {
        font-family: AvenirNextLTPro-Bold;
        font-weight: normal;
    }
}
.modal-content {
    .modal-header, .modal-body, .modal-footer {
        padding: 15px $modal-title-padding;
    }
    .modal-title {
        padding: 0;
    }
}

.bg-block {
    margin: 20px 0 40px;
    border-top: 6px solid $red-dark;
    @include box-shadow(0px 0px 6px 0px rgba(0, 0, 0, 0.10));
    padding: 20px 15px 20px;
}

.table-responsive {
    table {
        tr:first-child {
            background-color: #f9f9f9;
        }
    }
}

.reviews-account {
    .table td.text-right {
        @media (min-width: $screen-sm-min) {
            min-width: 115px;
        }
    }
    .not-approved-label {
        margin: 15px 0;
    }
    .product-info {
        width: 25%;

        @media (min-width: $screen-sm-min) {
            width: 20%;
        }

        img {
            width: 100%;

            @media (min-width: $screen-sm-min) {
                width: auto;
            }
        }
    }
}

.account-list-item {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        &:nth-child(2n+1) {
            clear: left;
        }
    }

    @media (min-width: $screen-md-min) {
        &:nth-child(3n+1) {
            clear: left;
        }
    }

    &.account-list-item-default > .panel {
        border-color: $brand-success;
    }

    .default-note {
        font-size: 12px;
        color: $brand-success;
        margin-bottom: 5px;

        i {
            padding-right: 10px;
        }
    }

    .account-block-row {
        margin-top: 10px;
        @extend .clearfix;

        .account-block-info {
            margin-left: 45px;

            &.payment-method {
                margin-left: 41px;
                font-weight: bold;
            }
        }

        .account-block-icon {
            float: left;
            width: 37px;
            color: $address-icons-color;

            &.card {
                height: 22px;
                backgroud-color: #fff;
                background-position: 50% 50%;
                background-repeat: no-repeat;

                &.card-type-visa {
                    background-image: url("/images/cards/visa.gif");
                }
                &.card-type-american_express {
                    background-image: url("/images/cards/american_express.gif");
                }
                &.card-type-discover {
                    background-image: url("/images/cards/discover.gif");
                }
                &.card-type-mastercard {
                    background-image: url("/images/cards/mastercard.gif");
                }
            }

        }
    }

    .account-block-buttons {
        margin: 10px 0 0 45px;

        a {
            display: inline-block;
            margin-right: 10px;
            text-decoration: none;
        }
        .btn-group.open .dropdown-toggle {
            box-shadow: none;
        }
    }

    &.item-credit-card .account-block-buttons a {
        margin-right: 5px;
    }
}
