<i class="init-controller" ng-init="activate()"></i>

<div class="container">
    <ot-breadcrumbs class="breadcrumb-bg"></ot-breadcrumbs>

    <div class="text-center">
        <ot-paginator object="this" ng-if="pages > 1" class="blog-pagination"></ot-paginator>
    </div>

    <div class="blog-list">
        <ot-blog ng-repeat="blog in blogList" article="blog"></ot-blog>
    </div>

    <div class="text-center">
        <ot-paginator object="this" ng-if="pages > 1" class="blog-pagination"></ot-paginator>
    </div>
</div>